body {
    display:flex;
    justify-content: center;
}

#wrapper {
    text-align: center;
}

#container {
    width: 600px;
    height: 600px;
}
.grid-row {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.grid-item {
    border: 1px black solid;

}

div.hovered {
    background-color: red;
}
